<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spring Web MVC Thymeleaf Hello World Example</title>

    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>
<body>
<div th:replace="navbar :: header"> </div>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Tech Titans</a>
</nav>

<div class="container">
    <h2>Add/Update Customer</h2>
    <form action="#" th:action="@{/categories/saveCategory}" th:object="${category}" method="post">
        <input type="hidden" th:field="*{id}">

        <div class="form-group">
            <label for="name">Label:</label>
            <input type="text" class="form-control" id="name" th:field="*{name}">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>
